.EventCardContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.EventCardImg {
    width: 90%;
    height: auto;
}