.Sky {
    height: 100%;
    width: 100%;
}

.LampBlock {
    
}

.Friends {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
}

.CloudLayerFront {
    position: absolute;
    top: 0;
    height: 70%;
    z-index: 4;
}

.CloudLayerBehind {
    position: absolute;
    top: 0;
    height: 80%;
    z-index: 1;
}