.MobileIconContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 30%;
    width: 40%;
}

.MobileIconButton {
    width: auto;
    height: 70%;
}

.MobileIconFriend {
    width: auto;
    height: 100%;
}

.MobileIconTitle {
    font-size: 1.25em;
    text-align: center;
}