.MobileContactContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    margin-top: 5%;
}

.MobileContactTextRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 60%
}

.MobileContactText {
    height: 55%;
    background-image: url("../Assets/Backgrounds/CloudMobileAbout.png");
    background-size: cover;
    
    text-align: center;
    font-size: 1.15rem;
    padding: 23%;
}

.MobileContactMessageContainer {
    height: 55%;
    background-image: url("../Assets/Backgrounds/CloudMobileAbout.png");
    background-size: cover;
}

.MobileContactFriendRow {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 40%;
}

.MobileContactFriendImg {
    width: 60%;
}

.MobileContactNameLabel{
    display: block;
    width: 120%;
}

.MobileContactEmailLabel{
 display: block;
 width: 120%;
}

.MobileContactMessageLabel {
    display: block;
    width: 120%;
}

.MobileContactMessageInput {
    height: 54px;
}

.MobileContactActionsContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 35%
}

.MobileSocialMediaContainer {
    font-size: .75rem;
    padding-top: 10%;
    height: 25%;
}

.MobileSocialMediaIconsContainer {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    height: 100%;
}

.MobileSocialMediaIcon {
    height: 100%;
}