body, html {
  height: 100%;
  background-color: #b4d2ff;
  overflow-x: hidden;
  overflow-y: hidden;
}

#root {
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
